.App {
   display: flex;
   width: 100%;
   justify-content: space-around;
}

.App .column {
    width: 30%;
}

.droppable-col {
    width: 100%;
    background-color: #333;
    padding: 10px 10px 0 10px;
    border-radius: 7px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.item {
    margin-bottom: 10px;
    width: 2rem;
    color: white;
    border: 1px solid white;
    padding: 5px;
    border-radius: 7px;
    background-color: #333;
}

.items {
    width: 2rem;
}